@import "../../../../../core/style/colors.scss";

.team-container {
  background-color: $ui-02;
  background-color: $ui-02;
  display: block;
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100%);
  overflow: hidden scroll;
  box-sizing: border-box;

  .team-wrapper {
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
