@import "@style/colors.scss";

.new-project-form-container {
  .form-header {
    margin-bottom: 32px;
  }

  .new-project-form-wrapper {
    width: 800px;
    border-radius: 8px;
    background-color: $ui-01;
    border: 1px solid $ui-03;
    padding: 16px 0px;
    box-sizing: border-box;

    .action-buttons {
      padding: 8px 32px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
    }
  }

  .form-questions-wrapper {
    box-sizing: border-box;

    .form-question-wrapper {
      width: 100%;
      padding: 8px 32px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.disabled {
        color: $ui-06;
      }

      .answers-wrapper {
        width: 300px;

        .input-container {
          width: 300px;
        }

        .dropdown-item {
          display: flex;
          align-items: center;
          column-gap: 8px;

          .label {
            display: flex;
            align-items: center;
            column-gap: 4px;
          }

          .coming-soon {
            font-size: 12px;
            color: $text-06;
          }
        }
      }
    }
  }
}
