@import "../../../../../../../../../../core/style/colors.scss";

.form-question-select-answer-container {
  display: flex;
  min-height: 50px;
  min-width: 225px;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid $ui-03;
  border-radius: 4px;
  column-gap: 8px;
  cursor: pointer;
  transition: 100ms ease-in-out;

  &:hover {
    background-color: $ui-02;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .select-answer-details {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &.disabled {
    background-color: $ui-03;
    color: $ui-06;
    cursor: not-allowed;

    .select-answer-details {
      flex-direction: row;
      align-items: center;
      column-gap: 4px;
    }

    img {
      opacity: 0.5;
    }
  }
}
