@import "../../../../../core/style/colors.scss";

.dashboard-navbar-container {
  .app-logo-wrapper {
    display: flex;
    align-items: center;
    width: 300px;
    height: 48px;
    padding: 0 8px;
    border-right: 1px solid $ui-09;
    box-sizing: border-box;
    cursor: pointer;
    transition: 100ms ease-in-out;

    &:hover {
      background-color: $ui-09;
    }
  }

  .search-box-container {
    margin: 0 16px;
  }

  .right-wrapper {
    padding: 0 24px;
  }
}
