@import "../../../../../core/style/colors.scss";

.dashboard-navbar-container {
  .app-selector-wrapper {
    border-right: 1px solid $ui-09;
  }

  .search-box-container {
    margin: 0 16px;
  }

  .right-wrapper {
    padding: 0 24px;
  }
}
